.body {
  background-color: #CDF0EA;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}




.navbar{
  background-color: #FBF4E9;
}





 .click a {
 display: flex;
 align-items: center;
 margin: 10px;
}

.register {
 display: inline flex;
 flex-wrap: wrap;
 margin-left: 230px;
 
}
.card {
 
   display:flex;
   align-self: auto;
   padding: 10px;
}
.content{
 margin-top: 50px;
}

.content1  {
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 50px;
}
.content1 div {
 margin: 60px;
}
.content2  {
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 50px;
}
.content2 div {
 margin: 60px;
}
.content3  {
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 50px;
}

.content3 div {
 margin: 60px;
}
.content4  {
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 50px;
}

.content4 div {
 margin: 60px;
}

}
.too{
 text-align: center;
 display: flex;
 justify-content: center;
 table-layout: 100px;
 margin: 20px;
 
}
.too table{
 background-color: crimson;
 font-display: 20px;
flex: 0 0 auto;
width: 50.333333%;

}





.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container {
    position: relative;
    border-radius: 10px;
    
}

.card {
    position: relative;
    border-radius: 10px;
    border: 30px;
    right: 30px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #414141;
}





/* MAIN PAGE CONTENT */


@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

/* This pen */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #18151f;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: #18151f;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
	background: $main-green;
	color: black;
}
.green .postcard__title:hover {
	color: $main-green;
}
.green .postcard__bar {
	background-color: $main-green;
}
.green::before {
	background-image: linear-gradient(
		-30deg,
		$main-green-rgb-015,
		transparent 50%
	);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
	background: $main-blue;
}
.blue .postcard__title:hover {
	color: $main-blue;
}
.blue .postcard__bar {
	background-color: $main-blue;
}
.blue::before {
	background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
	background: $main-red;
}
.red .postcard__title:hover {
	color: $main-red;
}
.red .postcard__bar {
	background-color: $main-red;
}
.red::before {
	background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
	background: $main-yellow;
	color: black;
}
.yellow .postcard__title:hover {
	color: $main-yellow;
}
.yellow .postcard__bar {
	background-color: $main-yellow;
}
.yellow::before {
	background-image: linear-gradient(
		-30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(
			-80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}

	.blue::before {
		background-image: linear-gradient(
			-80deg,
			$main-blue-rgb-015,
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
	}

	.red::before {
		background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
	}
	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
	}
	
	.yellow::before {
		background-image: linear-gradient(
			-80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
	.yellow:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
}













/* LOGIN PAGE STYLESHEET */

a{
    text-decoration:none;
    color:#444444;
  }
  .login-reg-panel{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align:center;
      width:70%;
      right:0;left:0;
      margin:auto;
      height:400px;
      background-color: rgba(236, 48, 20, 0.9);
  }
  .white-panel{
      background-color: rgba(255,255, 255, 1);
      height:500px;
      position:absolute;
      top:-50px;
      width:50%;
      right:calc(50% - 50px);
      transition:.3s ease-in-out;
      z-index:0;
      box-shadow: 0 0 15px 9px #00000096;
  }
  .login-reg-panel input[type="radio"]{
      position:relative;
      display:none;
  }
  .login-reg-panel{
      color:#B8B8B8;
  }
  .login-reg-panel #label-login, 
  .login-reg-panel #label-register{
      border:1px solid #9E9E9E;
      padding:5px 5px;
      width:150px;
      display:block;
      text-align:center;
      border-radius:10px;
      cursor:pointer;
      font-weight: 600;
      font-size: 18px;
  }
  .login-info-box{
      width:30%;
      padding:0 50px;
      top:20%;
      left:0;
      position:absolute;
      text-align:left;
  }
  .register-info-box{
      width:30%;
      padding:0 50px;
      top:20%;
      right:0;
      position:absolute;
      text-align:left;
      
  }
  .right-log{right:50px !important;}
  
  .login-show, 
  .register-show{
      z-index: 1;
      display:none;
      opacity:0;
      transition:0.3s ease-in-out;
      color:#242424;
      text-align:left;
      padding:50px;
  }
  .show-log-panel{
      display:block;
      opacity:0.9;
  }
  .login-show input[type="text"], .login-show input[type="password"]{
      width: 100%;
      display: block;
      margin:20px 0;
      padding: 15px;
      border: 1px solid #b5b5b5;
      outline: none;
  }
  .login-show input[type="button"] {
      max-width: 150px;
      width: 100%;
      background: #444444;
      color: #f9f9f9;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 2px;
      float:right;
      cursor:pointer;
  }
  .login-show a{
      display:inline-block;
      padding:10px 0;
  }
  
  .register-show input[type="text"], .register-show input[type="password"]{
      width: 100%;
      display: block;
      margin:20px 0;
      padding: 15px;
      border: 1px solid #b5b5b5;
      outline: none;
  }
  .register-show input[type="button"] {
      max-width: 150px;
      width: 100%;
      background: #444444;
      color: #f9f9f9;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 2px;
      float:right;
      cursor:pointer;
  }
  .credit {
      position:absolute;
      bottom:10px;
      left:10px;
      color: #3B3B25;
      margin: 0;
      padding: 0;
      font-family: Arial,sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      z-index: 99;
  }
  a{
    text-decoration:none;
    color:#2c7715;
  }






  /* FOOTER  */


  
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .content-footer {
    height: 70vh; }
  
  .footer-20192 {
    position: relative;
    color: #fff;
    padding: 7rem 0;
    background-color: #141d2a; }
    .footer-20192 .container-footer {
      position: relative; }
    .footer-20192 h3 {
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: 1.5; }
    .footer-20192 .links li {
      margin-bottom: 10px;
      line-height: 1.5;
      display: block; }
      .footer-20192 .links li a {
        color: #666873; }
        .footer-20192 .links li a:hover {
          color: #fff; }
    .footer-20192 .social li {
      display: inline-block;
      position: relative; }
      .footer-20192 .social li a {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: #8186d5;
        color: #fff; }
        .footer-20192 .social li a > span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    .footer-20192 .footer-logo {
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: .1rem; }
    .footer-20192 .copyright {
      color: #666873; }
    .footer-20192 .cta {
      -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
      box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
      padding: 20px;
      background-color: #8186d5;
      top: -150px;
      position: relative; }
      .footer-20192 .cta h2, .footer-20192 .cta h3 {
        line-height: 1.5; }
      .footer-20192 .cta h3 {
        font-size: 20px; }
  





  /* BLOODBANK PAGE */


  .rectangle-h{
    height: 250px;
    width: 100%;
    background-color: #911F27;
    
  }

  .rectangle-v{
    height:400px ;
    width:1300px;
    background-color: #9E9E9E; 
    margin-left: 110px;
    padding-top:100px;
    margin-top:-100px;
  }

  #dropdownMenuButton-state{
   margin-left: 50px;
   margin-top: 50px;
   padding-left: 100px;
   padding-right: 100px;
  }

  #dropdownMenuButton-dis{
    margin-top: 50px;
    margin-left:50px;
    padding-left: 100px;
    padding-right: 100px; 
  }

  .form-group{
    margin-top:-68px;
    margin-left:850px;
    margin-right:50px;
  }









/* AM I ELIGIBLE  */

@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
body {
  background: #eee;
  font-family: 'Lily Script One';
}

.card-weight {
  position: absolute;
  top: 550px;
  left: 475px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-weight {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-weight:hover .content-weight {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-weight,
.back-weight {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-weight {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}



.card-age {
  position: absolute;
  top: 550px;
  left: 785px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-age {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-age:hover .content-age {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-age,
.back-age {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-age {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}



.card-pulse {
  position: absolute;
  top: 550px;
  left: 1095px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-pulse {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-pulse:hover .content-pulse {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-pulse,
.back-pulse {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-pulse {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}



.card-blood {
  position: absolute;
  top: 838px;
  left: 325px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-blood{
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-blood:hover .content-blood {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-blood,
.back-blood {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-blood {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}



.card-child {
  position: absolute;
  top: 838px;
  left: 635px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-child {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-child:hover .content-child {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-child,
.back-child {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-child {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}



.card-hemo {
  position: absolute;
  top: 838px;
  left: 945px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-hemo {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-hemo:hover .content-hemo {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-hemo,
.back-hemo {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-hemo {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}



.card-malaria {
  position: absolute;
  top: 838px;
  left: 1255px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-malaria {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-malaria:hover .content-malaria {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-malaria,
.back-malaria {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-malaria {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


.card-immunization-vaccination {
  position: absolute;
  top: 1126px;
  left: 475px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-immunization-vaccination {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-immunization-vaccination:hover .content-immunization-vaccination {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-immunization-vaccination,
.back-immunization-vaccination {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-immunization-vaccination {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


.card-tattoo {
  position: absolute;
  top: 1126px;
  left: 785px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-tattoo {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-tattoo:hover .content-tattoo {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-tattoo,
.back-tattoo {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-tattoo {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


.card-scars-skins {
  position: absolute;
  top: 1126px;
  left: 1095px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-scars-skins {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-scars-skins:hover .content-scars-skins {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-scars-skins,
.back-scars-skins {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-scars-skins {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


.card-surgery {
  position: absolute;
  top: 1414px;
  left: 325px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-surgery {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-surgery:hover .content-surgery {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-surgery,
.back-surgery {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-surgery {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


.card-cancer {
  position: absolute;
  top: 1414px;
  left: 635px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-cancer {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-cancer:hover .content-cancer {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-cancer,
.back-cancer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-cancer {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


.card-infection {
  position: absolute;
  top: 1414px;
  left: 945px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-infection {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-infection:hover .content-infection {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-infection,
.back-infection {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-infection {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


.card-heart-disease{
  position: absolute;
  top: 1414px;
  left: 1255px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-heart-disease {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-heart-disease:hover .content-heart-disease {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-heart-disease,
.back-heart-disease {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-heart-disease {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


.card-dentist {
  position: absolute;
  top: 1702px;
  left: 475px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-dentist {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-dentist:hover .content-dentist {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-dentist,
.back-dentist {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-dentist {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
} 



.card-other-disease{
  position: absolute;
  top: 1702px;
  left: 785px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-other-disease {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-other-disease:hover .content-other-disease {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-other-disease,
.back-other-disease {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-other-disease {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
} 



.card-high-risk {
  position: absolute;
  top: 1702px;
  left: 1095px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-high-risk {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-high-risk:hover .content-high-risk {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-high-risk,
.back-high-risk {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-high-risk {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
} 



.card-diabetes {
  position: absolute;
  top: 1990px;
  left: 325px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-diabetes {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-diabetes:hover .content-diabetes {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-diabetes,
.back-diabetes {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-diabetes {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
} 


.card-medication {
  position: absolute;
  top: 1990px;
  left: 635px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-medication {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-medication:hover .content-medication {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-medication,
.back-medication {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-medication {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
} 



.card-drugs {
  position: absolute;
  top: 1990px;
  left: 945px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-drugs {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-drugs:hover .content-drugs {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-drugs,
.back-drugs {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-drugs {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
} 



.card-info {
  position: absolute;
  top: 1990px;
  left: 1255px;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content-info {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-info:hover .content-info {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-info,
.back-info {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-info {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
} 